{{ define "main" }}

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $projects := where .Site.RegularPages "Section" "projects" }}
{{ $pages = .Paginate ($pages)  }}

<div class="mx-auto max-w-screen-md space-y-8">
    {{ range $pages.Pages }}
        {{ partial "post.html" . -}}
    {{ end }}
</div>



<!-- {{ range .Data.Pages }}
    <div class="post-short-list">
        <h3>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h3>
    </div>
{{ end }} -->

{{ end }}