<div class="flex flex-wrap items-center w-full -mb-2">
  <div class="flex flex-grow items-center mb-2">
    <a href="{{ .Site.BaseURL }}" class="group font-medium transition-colors text-gray-900 dark:text-gray-200 hover:text-yellow-500 antialiased flex items-center">
      <span class="flex font-semibold items-center relative">
        <span>{{ .Site.Title }}</span>
        <span class="h-0.5 w-2/12 bg-yellow-500 block bottom-0 left-0 absolute group-hover:w-full transition-all"></span>
      </span>
    </a>

    <div class="ml-4">{{ partial "socials.html" . -}}</div>
  </div>

  <div class="mb-2">
    {{ partial "menu.html" . -}}
  </div>
</div>