<div class="bg-gray-100 dark:bg-gray-900 border-t border-gray-200 dark:border-gray-800 text-gray-700 dark:text-gray-200">
  <div class="mx-auto max-w-screen-md p-8">
    <div class="flex flex-col sm:flex-row items-center sm:items-start">
      <div class="w-20 bg-red flex-shrink-0 mb-6 sm:mb-0 sm:mr-6">
        <img class="w-full rounded-full" alt="{{ .Site.Title }}" src="/images/avatar.png">
      </div>
      <div class="flex-grow text-center sm:text-left">
        {{ partial "partials/intro.html" . -}}
      </div>
    </div>
  </div>
</div>