<div class="bg-gray-100 dark:bg-gray-900 border-t border-gray-200 dark:border-gray-800 text-gray-700 dark:text-gray-200">
  <div class="mx-auto max-w-screen-md p-8">
    <div class="flex">
      <div class="w-20 bg-red flex-shrink-0 mr-6">
        <img class="w-full rounded-full" src="/images/avatar.png">
      </div>
      <div class="flex-grow">
        <div class="text-2xl font-bold">{{ .Site.Params.intro }}</div>
        <div class="leading-relaxed text-lg mt-2">{{ .Site.Params.description }}</div>
      </div>
    </div>
  </div>
</div>